main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#fleex{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }
  
  .tabuleiro {
    margin: 50px auto;
    width: 320px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .celula {
    position: relative;
    margin: 4px;
    background-color: green;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .oculto{
    display: none;
  }
  
  
  .celula.xis::before{
    content: "";
    background-image: url('../assets/x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  
  /* circulo */
  .celula.circulo::before{
    content: "";
    background-image: url('../assets/o.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  .tabuleiro.circulo .celula:not(.xis):not(.circulo):hover::after{
    content: "O";
    margin-top: 2px;
    margin-left: 15px;
    font-size:80px;
  }
  .tabuleiro.xis .celula:not(.xis):not(.circulo):hover::after{
    content: "X";
    margin-top: 2px;
    margin-left: 15px;
    font-size:80px;
  }
  #save{
    background-color: lightgreen;
    width: 150px;
    font-size:30px;
    border: black solid 1px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
  }
  button{
    background-color: green;
    width: 150px;
    font-size:30px;
    border: black solid 1px;
    border-radius: 10px;
    color: white;
  }
  
  #vencedor{
    width: 250px;
    margin: 0 auto;
  }
  .centro{
    margin: 0 auto;
    width: 100vw;
  }